<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.esexam.mapper.ExamTeacherGradingMapper">
    <resultMap id="ExamTeacherGrading" type="com.mc.escommon.entity.exam.ExamTeacherGrading">
        <!-- 映射 ExamTeacherGrading 实体类自身的属性 -->
        <result property="id" column="id"/>
        <result property="paperId" column="paper_id"/>
        <result property="time" column="time"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="examId" column="exam_id"/>
        <!-- 关联映射 ExamManage 对象的属性 -->
        <association property="examManage" javaType="com.mc.escommon.entity.exam.ExamManage">
            <!-- 映射 ExamManage 实体类自身的属性 -->
            <result property="id" column="exam_manage_id"/>
            <result property="description" column="description"/>
            <result property="courseId" column="course_id"/>
            <result property="examDate" column="exam_date"/>
            <result property="totalTime" column="total_time"/>
            <result property="totalScore" column="total_score"/>
            <result property="type" column="type"/>
            <result property="tips" column="tips"/>
            <result property="publicKeys" column="public_keys"/>
            <result property="beginTime" column="em_begin_time"/>
            <result property="endTime" column="em_end_time"/>
            <result property="isMarked" column="em_is_marked"/>
        </association>
        <!-- 关联映射 ExamPaper 对象的属性 -->
        <association property="examPaper" javaType="com.mc.escommon.entity.exam.ExamPaper">
            <!-- 映射 ExamPaper 实体类自身的属性 -->
            <result property="questionType" column="ep_question_type"/>
            <result property="questionId" column="ep_question_id"/>
        </association>

        <!-- 关联映射 Course 对象的属性 -->
        <association property="course" javaType="com.mc.escommon.entity.exam.Course">
            <!-- 映射 Course 实体类自身的属性 -->
            <result property="id" column="course_id"/>
            <result property="teacherId" column="teacher_id"/>
            <result property="name" column="course_name"/>
            <result property="beginTime" column="begin_time"/>
            <result property="endTime" column="end_time"/>
            <result property="photo" column="course_photo"/>
            <result property="number" column="number"/>
            <result property="message" column="message"/>
        </association>

        <!-- 关联映射 Teacher 对象的属性 -->
        <association property="teacher" javaType="com.mc.escommon.entity.user.Teacher">
            <result property="id" column="teacher_id"/>
            <result property="role" column="role"/>
            <result property="photo" column="teacher_photo"/>
            <result property="account" column="account"/>
            <result property="password" column="password"/>
            <result property="keySm3" column="key_sm3"/>
            <result property="email" column="email"/>
            <result property="name" column="teacher_name"/>
            <result property="sex" column="sex"/>
            <result property="phone" column="phone"/>
            <result property="publicKey" column="public_key"/>
        </association>

        <!-- 关联映射 QuestionCode 对象的属性 -->
        <association property="questionCode" javaType="com.mc.escommon.entity.exam.QuestionCode">
            <!-- 映射 QuestionCode 实体类自身的属性 -->
            <id property="id" column="qc_id"/>
            <result property="courseId" column="qc_course_id"/>
            <result property="question" column="qc_question"/>
            <result property="answer" column="qc_answer"/>
            <result property="analysis" column="qc_analysis"/>
            <result property="score" column="qc_score"/>
            <result property="level" column="qc_level"/>
            <result property="section" column="qc_section"/>
        </association>

        <!-- 关联映射 QuestionFill 对象的属性 -->
        <association property="questionFill" javaType="com.mc.escommon.entity.exam.QuestionFill">
            <id property="id" column="qf_id"/>
            <result property="courseId" column="qf_course_id"/>
            <result property="question" column="qf_question"/>
            <result property="answer" column="qf_answer"/>
            <result property="analysis" column="qf_analysis"/>
            <result property="score" column="qf_score"/>
            <result property="level" column="qf_level"/>
            <result property="section" column="qf_section"/>
        </association>

        <!-- 关联映射 questionJudge 对象的属性 -->
        <association property="questionJudge" javaType="com.mc.escommon.entity.exam.QuestionJudge">
            <id property="id" column="qj_id"/>
            <result property="courseId" column="qj_course_id"/>
            <result property="question" column="qj_question"/>
            <result property="answer" column="qj_answer"/>
            <result property="analysis" column="qj_analysis"/>
            <result property="score" column="qj_score"/>
            <result property="level" column="qj_level"/>
            <result property="section" column="qj_section"/>
        </association>

        <!-- 关联映射 QuestionMulti 对象的属性 -->
        <association property="questionMulti" javaType="com.mc.escommon.entity.exam.QuestionMulti">
            <id property="id" column="qm_id"/>
            <result property="courseId" column="qm_course_id"/>
            <result property="questionType" column="qm_question_type"/>
            <result property="question" column="qm_question"/>
            <result property="answerA" column="qm_answerA"/>
            <result property="answerB" column="qm_answerB"/>
            <result property="answerC" column="qm_answerC"/>
            <result property="answerD" column="qm_answerD"/>
            <result property="rightAnswer" column="qm_rightAnswer"/>
            <result property="analysis" column="qm_analysis"/>
            <result property="score" column="qm_score"/>
            <result property="level" column="qm_level"/>
            <result property="section" column="qm_section"/>
        </association>

        <!-- 关联映射 QuestionShortAns 对象的属性 -->
        <association property="questionShortAns" javaType="com.mc.escommon.entity.exam.QuestionShortAns">
            <id property="id" column="qs_id"/>
            <result property="courseId" column="qs_course_id"/>
            <result property="question" column="qs_question"/>
            <result property="answer" column="qs_answer"/>
            <result property="analysis" column="qs_analysis"/>
            <result property="score" column="qs_score"/>
            <result property="level" column="qs_level"/>
            <result property="section" column="qs_section"/>
        </association>
    </resultMap>

    <sql id="selectVo">
        SELECT
            etg.id,
            etg.paper_id,
            etg.time,
            etg.teacher_id,
            etg.exam_id,
            em.id AS exam_manage_id,
            em.description,
            em.course_id,
            em.exam_date,
            em.total_time,
            em.total_score,
            em.type,
            em.tips,
            em.public_keys,
            em.is_marked AS em_is_marked,
            em.begin_time AS em_begin_time,
            em.end_time AS em_end_time,
            ep.question_id AS ep_question_id,
            ep.question_type AS ep_question_type,
            c.id AS course_id,
            c.teacher_id,
            c.name AS course_name,
            c.begin_time,
            c.end_time,
            c.photo AS course_photo,
            c.number,
            c.message,
            t.id AS teacher_id,
            t.role,
            t.photo AS teacher_photo,
            t.account,
            t.password,
            t.key_sm3,
            t.email,
            t.name AS teacher_name,
            t.sex,
            t.phone,
            t.public_key,
            qc.id AS qc_id,
            qc.course_id AS qc_course_id,
            qc.question AS qc_question,
            qc.answer AS qc_answer,
            qc.analysis AS qc_analysis,
            qc.score AS qc_score,
            qc.level AS qc_level,
            qc.section AS qc_section,
            qf.id AS qf_id,
            qf.course_id AS qf_course_id,
            qf.question AS qf_question,
            qf.answer AS qf_answer,
            qf.analysis AS qf_analysis,
            qf.score AS qf_score,
            qf.level AS qf_level,
            qf.section AS qf_section,
            qj.id AS qj_id,
            qj.course_id AS qj_course_id,
            qj.question AS qj_question,
            qj.answer AS qj_answer,
            qj.analysis AS qj_analysis,
            qj.score AS qj_score,
            qj.level AS qj_level,
            qj.section AS qj_section,
            qm.id AS qm_id,
            qm.course_id AS qm_course_id,
            qm.question_type AS qm_question_type,
            qm.question AS qm_question,
            qm.answerA AS qm_answerA,
            qm.answerB AS qm_answerB,
            qm.answerC AS qm_answerC,
            qm.answerD AS qm_answerD,
            qm.rightAnswer AS qm_rightAnswer,
            qm.analysis AS qm_analysis,
            qm.score AS qm_score,
            qm.level AS qm_level,
            qm.section AS qm_section,
            qs.id AS qs_id,
            qs.course_id AS qs_course_id,
            qs.question AS qs_question,
            qs.answer AS qs_answer,
            qs.analysis AS qs_analysis,
            qs.score AS qs_score,
            qs.level AS qs_level,
            qs.section AS qs_section
        FROM
            exam_teacher_grading etg
                LEFT JOIN
            exam_manage em ON etg.exam_id = em.id
                LEFT JOIN
            course c ON em.course_id = c.id
                LEFT JOIN
            teacher t ON c.teacher_id = t.id
                LEFT JOIN
            exam_paper ep ON etg.paper_id = ep.id
                LEFT JOIN
            question_code qc ON ep.question_id = qc.id AND ep.question_type = 'code'
                LEFT JOIN
            question_fill qf ON ep.question_id = qf.id AND ep.question_type = 'fill'
                LEFT JOIN
            question_judge qj ON ep.question_id = qj.id AND ep.question_type = 'judge'
                LEFT JOIN
            question_multi qm ON ep.question_id = qm.id AND ep.question_type = 'multi'
                LEFT JOIN
            question_shortAns qs ON ep.question_id = qs.id AND ep.question_type = 'shortAns'
    </sql>

    <insert id="insert" parameterType="com.mc.escommon.entity.exam.ExamTeacherGrading" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exam_teacher_grading
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="examId != null">exam_id,</if>
            <if test="paperId != null">paper_id,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="time != null and time != ''">time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="examId != null">#{examId},</if>
            <if test="paperId != null">#{paperId},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="time != null and time != ''">#{time},</if>
        </trim>
    </insert>

    <!-- 单个删除 -->
    <delete id="deleteById" parameterType="int">
        DELETE FROM exam_teacher_grading WHERE id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds" parameterType="int[]">
        DELETE FROM exam_teacher_grading WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByExamId" parameterType="int">
        DELETE FROM exam_teacher_grading WHERE exam_id = #{id}
    </delete>

    <select id="selectAll" parameterType="com.mc.escommon.entity.exam.ExamTeacherGrading" resultMap="ExamTeacherGrading">
        <!-- 引入之前定义的 SQL 片段 -->
        <include refid="selectVo"/>
        <!-- 使用 where 标签来动态生成 WHERE 子句 -->
        <where>
            <!-- 判断 id 是否不为空，如果不为空则添加对应的查询条件 -->
            <if test="id != null">
                AND etg.id = #{id} <!-- 使用表别名 etg 引用 id 列 -->
            </if>
            <if test="examId != null">
                AND etg.exam_id = #{examId} <!-- 使用表别名 etg 引用 id 列 -->
            </if>
            <!-- 判断 paperId 是否不为空，如果不为空则添加对应的查询条件 -->
            <if test="paperId != null">
                AND etg.paper_id = #{paperId} <!-- 使用表别名 etg 引用 paper_id 列 -->
            </if>
            <if test="teacherId != null">
                AND etg.teacher_id = #{teacherId} <!-- 使用表别名 etg 引用 paper_id 列 -->
            </if>
            <!-- 判断 time 是否不为空，如果不为空则添加对应的查询条件 -->
            <if test="time != null and time != ''">
                AND etg.time = #{time} <!-- 使用表别名 etg 引用 time 列 -->
            </if>
        </where>
        ORDER BY etg.id ASC
    </select>

    <select id="selectById" parameterType="int" resultMap="ExamTeacherGrading">
        <!-- 引入之前定义的查询考试教师评分相关信息的 SQL 片段 -->
        <include refid="selectVo"/>
        <!-- 根据考试教师评分的唯一标识 id 进行筛选 -->
        WHERE etg.id = #{id}
        ORDER BY etg.id ASC
    </select>

    <update id="updateById" parameterType="com.mc.escommon.entity.exam.ExamTeacherGrading">
        <!-- 指定要更新的表为 exam_teacher_grading -->
        UPDATE exam_teacher_grading
        <!-- 使用 set 标签动态生成要更新的字段 -->
        <set>
            <!-- 如果 paperId 不为空，则更新该字段 -->
            <if test="examId != null">
                exam_id = #{examId},
            </if>
            <if test="paperId != null">
                paper_id = #{paperId},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId},
            </if>
            <!-- 如果 time 不为空，则更新该字段 -->
            <if test="time != null and time != ''">
                time = #{time},
            </if>
        </set>
        <!-- 根据考试教师评分的唯一标识 id 来确定要更新的记录 -->
        WHERE id = #{id}
    </update>
</mapper>